<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-zebraprinter"
    version="1.1.0">

    <name>ZebraPrinter</name>
	<description>A Cordova driver for Zebra printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>    

    <js-module src="www/zebraprinter.js" name="zebraprinter">
        <clobbers target="zebraprinter" />
    </js-module>

    <!-- android -->
    <platform name="android">

      <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
	 <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
	 <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
         <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    	 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      </config-file>
	  <source-file src="src/android/ZebraPrinterPlugin.java" target-dir="src/cordova/plugin/zebraprinter" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraPrinterPlugin">
                <param name="android-package" value="cordova.plugin.zebraprinter.ZebraPrinterPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/ZSDK_ANDROID_API.jar" target-dir="libs"/>
        <framework src="com.google.code.gson:gson:+" />
    </platform>
</plugin>
